.opinion {
  .fieldset();
  margin-bottom: 49px;
  gap: 16px;
}

.opinion__title {
  .form-title();
}

.opinion__label {
  .radio-checkbox();
}

@media (min-width: @tablet-width) {
  .opinion {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
  }
}

@media (min-width: @desktop-width) {
  .opinion {
    grid-template-columns: 280px 280px 280px;
    column-gap: 28px;
  }
}
