.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__description {
  margin: 0;
  color: #333333;
}

.photo__likes-number {
  font-weight: 700;
}

.photo__wrapper {
  padding: 25px 20px;
  text-align: start;
}
