.sight {
  .fieldset();
  margin-bottom: 49px;
}

.sight__title {
  .form-title();
}

.sight__label {
  .radio-checkbox();
  margin-left: 82px;
}

.sight__checkbox {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.sight__control {
  position: relative;
  display: block;
}

.sight__box {
  display: grid;
  row-gap: 26px;
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .sight {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
  }
}

@media (min-width: @desktop-width) {
  .sight__box {
    grid-template-columns: 170px 170px 170px 170px;
    grid-column-gap: 64px;
    padding-left: 226px;
    padding-right: 165px;
    text-align: center;
  }

  .sight__label {
    margin: 0;
  }

  .sight__checkbox {
    left: -30px;
  }
}
